@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 150px;
        height: 150px;
    }
</style>
<table>
    <tbody>
        <tr>
            <td rowspan="3">
                <img alt="Profile Image" src="~/Images/DjJunior915.jpeg" />
            </td>
            <td>
                <span>Rafael Hernandez</span>
                <button>Follow</button>
            </td>
        </tr>
       <tr>
        <td>
            <span>This is an example description</span>
        </td>
     </tr>
    <tbody>
</table>
<br />
<a href="#"POSTS<a/>
<a href="#"REELS<a/>
<a href="#"IGTV<a/>
<a href="#"TAGGED<a/>
<br />
     <table>
     <tbody>
        <tr>
            <td>
                <img src="~/Images/Image1.jpeg" alt="Image 1"/>
            </td>
            <td>
                <img src="~/Images/Image 2.png" alt="Image 2"/>
            </td>
            <td>
                <img src="~/Images/Image 3.jpeg" alt="Image 3"/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Image 4.png" alt="Image 4"/>
            </td>
            <td>
                <img src="~/Images/Image 5.jpeg" alt="Image 5"/>
            </td>
            <td>
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/nBBaHKQHxiU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>
